{% extends "base.html" %}
{% block header %} 
    <script type="text/javascript">
    
		$(document).ready(function(){
			{% for tag in tags %}
				{% for day in days %}
					get_avgs_days_ago("{{day}}","{{tag}}");
				{% endfor %}
			{% endfor %}
		});

		function get_avgs_days_ago(days_ago, tag){
			$.ajax({
				  url: '/pls/api/dailyavg/'+tag+'/'+days_ago+'/',
				  success: function(data) {
				    $("."+tag+"_"+days_ago+"_name").html(tag);
				    $("."+tag+"_"+days_ago+"_load").html(data["load"]);
				    $("."+tag+"_"+days_ago+"_elapsed").html(data["elapsed"]);
				    console.log("."+tag + " elapsed " + tag+": " + data["elapsed"]);
				  }
				});
		}

    </script>
{% endblock%}
	

{% block content %}
	
	<div class="row">
	{% for day in days %}
		<div class="col-md-5">
			<table class="table table-striped">
				<tr><th>{{day}} day(s) ago</th><th>Avg Load ms</th><th>Avg Elapsed ms</th></tr>
				{% for tag in tags %}
					<tr><td class="{{tag}}_{{day}}_name">...</td><td class="{{tag}}_{{day}}_load"></td><td class="{{tag}}_{{day}}_elapsed"></td></tr>
				{% endfor %}
			</table>	
		</div>
	{% endfor %}
	</div>

{% endblock %}
