
<div><b>Chart by Tags</b></div>
<ul class="list-unstyled">
	{% for tag, target_dict in targets_by_tag.items %}
	<li class='dropdown'>
		<a class="dropdown-toggle indented-menuitem" href="#" id="dropdownMenu_{{tag}}" data-toggle="dropdown">
		    <span class="caret"> </span> <span> {{tag}}</span>
		</a>
		<ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu_{{tag}}">
			<li role="presentation"><a href='/pls/chart/?target_tag={{ tag }}' role="menuitem" tabindex="-1">ALL tagged {{tag}}</a></li>
			<li role="presentation" class="divider"></li>
			{% for name,id in target_dict.items %}
				<li role="presentation"><a href='/pls/chart/?target_id={{ id }}' role="menuitem" tabindex="-1">{{ name }}</a></li>
			{% endfor %}
		</ul>
	</li>
	{% endfor %}
</ul>