<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html lang="en">
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/base.css"/>
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css"/>
    <link rel="javascript" href="/static/bootstrap/js/bootstrap.min.js"/>
    <title>{% block title %}RaMon{% endblock %}</title>
    {% block header %} {% endblock%}
</head>

<body>
	<div class="container-fluid">
		<div class="row-fluid">
			<header>
				<div class="span1">&nbsp;</div>
				<div class="span11"><h1  class="jumbotron">RaMon</h1></div>
			</header>
		</div>
		<div class="row-fluid">
			<div id="sidebar" class="span1">
				{% block sidebar %}
				<ul class="menu">
					<h3>Menu</h3>
					<li><a href="/ramon/target">targets</a></li>
					<li><a href="/ramon/check/all">check all</a></li>
				</ul>
				{% endblock %}
			</div>

			<div id="content" class="span11">
				{% block content %}{% endblock %}
			</div>
		</div>
	</div>
</body>
</html>
