<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html lang="en">
<head>
	
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	
    <link rel="stylesheet" href="/static/css/base.css"/>
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css"/>
    <link rel="javascript" href="/static/bootstrap/js/bootstrap.min.js"/>
    
    <script type="text/javascript" src="/static/js/jquery-1.7.1.min.js"></script>
		
	<script type="text/javascript" src="/static/js/pageLoadStats.js"></script>
	
	<script type="text/javascript" src="/static/js/jquery-ui-1.8.18.custom.min.js"></script>
	<link type="text/css" href="/static/css/cupertino/jquery-ui-1.8.18.custom.css" rel="stylesheet" />
	<script type="text/javascript" src="/static/js/timepicker-addon.js"></script>

	
    <title>{% block title %}PageLoadStats{% endblock %}</title>
    {% block header %} {% endblock%}
    
    <script type="text/javascript">
	
		$(document).ready(function(){

			setTZOffsetCookie();
			$(".date_time_picker").datetimepicker();
			$("#resizeable").resizable();
		});
		
	</script>
</head>

<body>
	<div class="container">
		<div class="row">
			<header class="header">
				<div class="span">&nbsp;</div>
				<div class="span10"><img src="/static/img/magnifying_glass.svg" class="logo">PageLoadStats</div>
			</header>
		</div>
		<div class="row">
			<div id="sidebar" class="span stack_medium">
				{% block sidebar %}
				<h4 class="stack_small">Menu</h4>
				<ul class="nav nav-list stack_small">
                    <li><a href="/pls/"><i class="icon-home"></i>home</a></li>
                    <li><a href="/pls/targets"><i class="icon-th-list"></i>targets</a></li>
					<li><a href="/pls/check/all">check all</a></li>
				</ul>				
				<h4 class="stack_small">Multi-charts</h4>
				<ul class="nav nav-list stack_small">
					<li><a href="/pls/chart_multi?target_id_list=39,48,49">Solr</a></li>
					<li><a href="/pls/chart_multi?target_id_list=8,31,54">APIs</a></li>
					<li><a href="/pls/chart_multi?target_id_list=1,23,24,25,26,28">Denver</a></li>
					<li><a href="/pls/chart_multi?target_id_list=1,2,3,18">Home</a></li>
					<li><a href="/pls/chart_multi?target_id_list=23,20,47,13">BPP</a></li>
					<li><a href="/pls/chart_multi?target_id_list=25,19,6,12">Deals</a></li>
				</ul>
				<h4 class="stack_small">Settings</h4>
				<ul class="nav nav-list stack_small">
                    <li><a href="/pls/user_logout" onclick="logout();return(false);"><i class="icon-lock"></i>Logout</a></li>
				</ul>
				{% endblock %}
			</div>

			<div id="content" class="span10">
				{% block content %}{% endblock %}
			</div>
		</div>
	</div>
</body>
</html>
