{% load menus %}
<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html lang="en">
<head>
	
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	
    <link rel="stylesheet" href="/static/css/base.css"/>
    
    <script type="text/javascript" src="/static/js/jquery-2.0.3.min.js"></script>
		
	<script type="text/javascript" src="/static/js/pageLoadStats.js"></script>
	
 	<script type="text/javascript" src="/static/js/jquery-ui-1.10.3.custom.min.js"></script>
 	<link type="text/css" href="/static/css/ui-lightness/jquery-ui-1.10.3.custom.css" rel="stylesheet" />
	<script type="text/javascript" src="/static/js/timepicker-addon.js"></script>

    <link type="text/css" href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet"/>
    <link type="text/css" href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet"/>
	<script type="text/javascript" src="/static/bootstrap/js/bootstrap.min.js"></script>

	
    <title>{% block title %}PageLoadStats{% endblock %}</title>
    {% block header %} {% endblock%}
    
    <script type="text/javascript">
	
		$(document).ready(function(){

			setTZOffsetCookie();
			$(".date_time_picker").datetimepicker();
			$("#resizeable").resizable();
		});

		
	</script>
</head>

<body>
	<div class="container">
		<div class="row header">
			<div class="col-md-10"><img src="/static/img/magnifying_glass.svg" class="logo">PageLoadStats</div>
		</div>
		<div class="row">
			<div id="sidebar" class="col-md-2">
				{% block sidebar %}
				<h3>Menu</h3>
				<ul class='nav  nav-stacked'>
                    <li><a href="/pls/manage/"><i class="glyphicon glyphicon-cog"></i> Manage</a></li>
                    <li><a href="/pls/dailyavgs/"><i class="glyphicon glyphicon-calendar"></i> Daily Avgs</a></li>
                    <li><a href="/pls/httperrors/"><i class="glyphicon glyphicon-fire"></i> HTTP Errors</a></li>
                    <li><a href="/pls/httperrorchart/"><i class="glyphicon glyphicon-fire"></i> Error Chart</a></li>
                    <li><a href="/pls/user_logout" onclick="logout();return(false);"><i class="glyphicon glyphicon-lock"></i> logout</a></li>
				</ul>
			
				{% target_menu %}			
				{% endblock %}
			</div>

			<div id="content" class="col-md-10">
				{% block content %}{% endblock %}
			</div>
		</div>
	</div>
</body>
</html>
