{% extends "base.html" %}
{% block header %} 
	<script type="text/javascript" src="/static/swfobject.js"></script>
    <script type="text/javascript">
    	swfobject.embedSWF(
    	  "/static/open-flash-chart.swf", "chart_target",
    	  "100%", "100%", "9.0.0", "/static/expressInstall.swf",
    	  {"data-file":"/pls/{{chart_data_url}}{{ target_id }}?{{start_end_params}}{{trim_params}}"}, {"wmode" : "transparent"} );
    	
    </script>
    <script type="text/javascript">
    
		$(document).ready(function(){
			fillDateRange();
		});


    </script>
{% endblock%}


{% block content %}
	<div id="chart_title" class="stack_medium">
		Monitor Data for: {{target_name}} &nbsp&nbsp&nbsp
		ID: {{ target_id }} &nbsp&nbsp&nbsp
		{% if target_url %}
			Target url: <a id="target_url" href="{{ target_url }}" target="_blank">link</a>
		{% endif %}
	</div>
  	<div id="resizeable" class="chart_container ui-resizable">
  		<div class="chart resizeable" id="chart_target"></div>
	</div>

	<form id="date_selection_form" class="form-inline stack_large">
		<div id="date_selection_header" class="stack_small">
			<h4 id="date_selection_title">Choose a date range</h4>
		</div>
		start: <input type='text' id='date_selection_start_date' class='date_selection date_time_picker'/>&nbsp
		end: <input type='text' id='date_selection_end_date' class='date_selection date_time_picker'/>&nbsp
		trim data above <input type='text' id='trim_above_selection' class='trim trim_above'/> ms&nbsp
		<button id='date_selection_button' name='date_selection_button' class="btn btn-success" onclick="submitChartParams(); return false;">Display Range</button>
		<button id='page_refresh_button' name='page_refresh_button' class="btn btn-success float_right" onclick="location.reload(); return false;">Refresh</button>
	</form>
{% endblock %}
