{% extends "base.html" %}
{% block header %} 
	<script language="javascript" type="text/javascript" src="/static/js/jquery.flot.min.js"></script>
	<script language="javascript" type="text/javascript" src="/static/js/jquery.flot.time.min.js"></script>
    <script type="text/javascript">
    	target_ids = {{ target_ids }};
		$(document).ready(function(){
			$.ajax({
				url: "/pls/api/chartline?target_ids={{ target_ids }}{{ start_end_params }}{{ trim_params }}",
				type: "GET",
				dataType: "json",
				success: onFlotDataReceived
			});
			fillDateRange();
			
			$(function() {
			    var clickedItems = [];
			
			    function showTooltip(x, y, contents) {
			        $('<div id="tooltip">' + contents + '</div>').css({
			            position: 'absolute',
			            display: 'none',
			            top: y + 5,
			            left: x + 5,
			            border: '1px solid #fdd',
			            padding: '2px',
			            'background-color': '#fee',
			            opacity: 0.80
			        }).appendTo("body").fadeIn(200);
			    }
			
			    var previousPoint = null;
			    $("#placeholder").bind("plothover", function(event, pos, item) {
			        $("#x").text(pos.x.toFixed(2));
			        $("#y").text(pos.y.toFixed(2));
			
			        if (item) {
			            if (previousPoint != item.datapoint) {
			                previousPoint = item.datapoint;
			
			                $("#tooltip").remove();
			                var content = item.series.data[item.dataIndex][2];
			                
			                // if there is a cached item object at this index use it instead
			                if(clickedItems[item.dataIndex])
			                    content = clickedItems[item.dataIndex].alternateText;
			                //now show tooltip
			                showTooltip(item.pageX, item.pageY, content);
			            }
			        }
			        else {
			            $("#tooltip").remove();
			            previousPoint = null;
			        }
			
			    });
			
			});
		});
		
		function onFlotDataReceived(series) {
			var options = {
				lines: {
					show: true
				},
				grid: {
					hoverable: true, clickable: false
				},
				points: {
					show: false
				},
				xaxis: {
					mode: "time",
					timeformat: "%m/%d/%y %I:%M %P"
				}
			}
			$.plot("#placeholder", series, options);
		}
		
		


    </script>
{% endblock%}


{% block content %}
	
	<p><input id="enableTooltip" type="checkbox" checked>Enable tooltip</p>
	<div id="chart_header"><h3>{{ target_name }} (id:{{ target_ids }} <a href="{{ target_url }}">target url</a>)</h3></div>
 	<div id="placeholder" class="chart resizeable" style="height:400px;width:1000px;"></div>


	<form id="date_selection_form" class="form-inline stack_large">
		<div id="date_selection_header" class="stack_small">
			<h4 id="date_selection_title">Choose a date range</h4>
		</div>
		start: <input type='text' id='date_selection_start_date' class='date_selection date_time_picker'/>&nbsp
		end: <input type='text' id='date_selection_end_date' class='date_selection date_time_picker'/>&nbsp
		trim data above <input type='text' id='trim_above_selection' class='trim trim_above'/> ms&nbsp
		<button id='date_selection_button' name='date_selection_button' class="btn btn-success" onclick="submitChartParams(); return false;">Update</button>
		<button id='page_refresh_button' name='page_refresh_button' class="btn btn-success float_right" onclick="location.reload(); return false;">Refresh</button>
	</form>
{% endblock %}
