{% extends "base.html" %}
{% block header %} 
    <script type="text/javascript">
    
		$(document).ready(function(){
			tags = ["home", "bpp", "browse", "deals", "srp", "solr", "mobile_app", "api"];
			for(tag in tags){
				for(i=1;i<=4;i++){
					get_avgs_days_ago(i,tags[tag], "."+tags[tag]+"_"+i);
				}
			}
		});

		function get_avgs_days_ago(days_ago, tag, target_el){
			$.ajax({
				  url: '/pls/dailyavg/'+tag+'/'+days_ago+'/',
				  success: function(data) {
				    $(target_el).append(tag+": " + data["avg"] + "<br>");
				    console.log(target_el + " -- " + tag+": " + data["avg"]);
				  }
				});
		}

    </script>
{% endblock%}
	

{% block content %}
	
	<div class="row">
		<div class="span2">
			<div class="row">yesterday</div>	
				<span class="home_1"></span>	
				<span class="bpp_1"></span>	
				<span class="browse_1"></span>	
				<span class="deals_1"></span>	
				<span class="srp_1"></span>	
				<span class="solr_1"></span>
				<span class="api_1"></span>
				<span class="mobile_app_1"></span>	
		</div>
		<div class="span2">
			<div class="row">yesterday-1</div>	
				<span class="home_2"></span>	
				<span class="bpp_2"></span>	
				<span class="browse_2"></span>	
				<span class="deals_2"></span>	
				<span class="srp_2"></span>	
				<span class="solr_2"></span>
				<span class="api_2"></span>
				<span class="mobile_app_2"></span>	
		</div>
	</div>	
	<div class="row">
		<div class="span2">
			<div class="row">yesterday-2</div>	
				<span class="home_3"></span>	
				<span class="bpp_3"></span>	
				<span class="browse_3"></span>
				<span class="deals_3"></span>		
				<span class="srp_3"></span>	
				<span class="solr_3"></span>
				<span class="api_3"></span>
				<span class="mobile_app_3"></span>	
		</div>
		<div class="span2">
			<div class="row">yesterday-3</div>	
				<span class="home_4"></span>	
				<span class="bpp_4"></span>	
				<span class="browse_4"></span>	
				<span class="deals_4"></span>	
				<span class="srp_4"></span>	
				<span class="solr_4"></span>
				<span class="api_4"></span>
				<span class="mobile_app_4"></span>	
		</div>
	</div>

{% endblock %}
