<h4 class='stack_small'>Charts</h4>
<ul class='menu nav nav-list stack_small'>
{% for tag, target_dict in targets_by_tag.items %}
	<li class='menu_top' target='menu_sub_{{tag}}'><a href="" onclick="return false;"><i class="icon-circle-arrow-down"></i>{{tag}}</a></li>
	<ul class='nav nav-list stack_small menu_sub menu_sub_{{tag}}'>
		<li><a href='/pls/chart/{{tag}}'>ALL tagged {{tag}}</a></li>
		{% for name,id in target_dict.items %}
			<li><a href='/pls/chart/{{ id }}'>{{ name }}</a></li>
		{% endfor %}
	</ul>
{% endfor %}
</ul>