<div class=''>Charts</div>
<ul class='nav nav-pills nav-stacked'>
{% for tag, target_dict in targets_by_tag.items %}
	<li class='dropdown_{{tag}}''>
		<a href="#" class="dropdown-toggle" data-toggle="dropdown_{{tag}}">{{tag}}<span class="caret"></span></a>

		<ul class="dropdown-menu" role="menu">
			<li><a href='/pls/chart/{{tag}}'>ALL tagged {{tag}}</a></li>
			<li class="divider"></li>
			{% for name,id in target_dict.items %}
				<li><a href='/pls/chart/{{ id }}'>{{ name }}</a></li>
			{% endfor %}
		</ul>
		
	</li>
{% endfor %}
</ul>